body,h1,h5 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
 .bgimg {
    background-image: url("../images/barn.jpg");
    background-position: center;
    background-size: cover;
    height: 100%;
} 

img {
    padding: 1%;
    height: 15%;
    width: 15%;
}

button {
    display: block;
    margin: 1%;
}

a {
    text-decoration: none;
}

@media screen and (max-width: 800px){
    img {
        height: 25%;
        width: 25%;
    }
}